@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold Italic'), local('HelveticaNeue-BoldItalic'),
        url('fonts/HelveticaNeue-BoldItalic.ttf') format('ttf'),
        url('fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('fonts/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold')
        url('fonts/HelveticaNeue-Bold.ttf') format('ttf'),
        url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Italic'), local('HelveticaNeue-Italic'),
        url('fonts/HelveticaNeue-Italic.ttf') format('ttf'),
        url('fonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 55 Roman'), local('HelveticaNeue-Roman'),
        url('fonts/HelveticaNeue-Roman.ttf') format('ttf'),
        url('fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html,body {height:100%;min-width:300px;}

body {
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {padding: 0 1rem;}
@media (min-width:540px) {
  .container {max-width:540px;}
}
@media (min-width:992px) {
  .container {max-width:720px;}
}


/* navbar */

.navbar-brand {
  font-weight:bold;
  padding: 0.5rem 0;
}

.nav-link {
  position: relative;
  margin-right:1rem;
}
.nav-item {
  display:flex;
  font-weight:bold;
}
.nav-item.active {
  color:black;
}
.nav-item.active::after {
  content:"";
  position:absolute;
  top:1.35rem;
  bottom:0;
  right:1rem;
  left:0;
  background-color: rgba(125,125,125,0.1);
}
.nav-item:hover::after {
  content:"";
  position:absolute;
  top:1.35rem;
  bottom:0;
  right:1rem;
  left:0;
  background-color: rgba(125,125,125,0.1);
}
.nav-link {
  padding:0;margin-top:0.5rem;
  font-size:1.25rem;
}
.nav-img {
  margin-top:-0.25rem;
  opacity:0.25;
  background-size:contain;
  height:2rem;width:2rem;
}
.nav-img:hover {opacity:0.5;}




.section-title {
  text-transform:uppercase;
  font-weight:bold;
  text-align:left;
}
@media (max-width:991px) {
  .section-title {
    text-align:right;
  }
}
.item {
  flex-direction:row;
  display:flex;
  justify-content:flex-end;
  position:relative;

  margin: 0.5rem;

  box-sizing: border-box;
  height:200px;
  width:47%;
  width:calc(50% - 1rem);

  background-color: rgba(125,125,125,0.05);
}
.item::after {
  content:"";

  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

  background-position: center;
  opacity:0.25;
  position:absolute;
  top:0;left:35%;bottom:0;right:0;
  z-index:-1;
}
.item.highlight {
  background-color: rgba(255,255,125,0.25) !important;
}
@media (max-width:991px) {
  .item {
    width:96%;
    width:calc(100% - 1rem)
  }
}

.item-left {
  min-width:35%;
  padding: 1rem;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
.item-title {
  font-weight:bold;
  line-height:1.2rem;
  margin-bottom: 0.5rem;
  text-wrap: balance;
}
.item-tools {color:rgba(0,0,0,0.5)}
.tool {padding-right:0.5rem;display:inline-block;}
.item-right {
  min-width:65%;
  padding: 1rem;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
.item-links {
  display:none;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  left:0;right:0;bottom:0;top:0;
  background-color:rgba(0,0,0,0.5);
}
.item:hover .item-links {display:flex;}
.link {
  display:flex;
  flex-direction: column;
  padding:2rem;
  color:lightgray;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.link:hover {color:white;text-decoration: none;}

.lh-sm {
  line-height: 1.2rem;
}
a.no-anchor {
  text-decoration: none;
  color:initial;
}
a.no-anchor:hover {
  text-decoration: none;
  color:initial;
}

.modal-trigger {
  cursor:pointer;
}
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  max-width:none !important;
}
.modal-content {
    padding: 1rem;
}
